@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f3fdf4;
  color: #333;
}

a {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.header {
  background-color: white;
  width: 100%;
  position: fixed;
}

.header .container {
  background-color: #e0f4e6;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 120px;
  max-height: 50px; /* Ajuste esse valor conforme seu gosto */
  width: auto;
  height: auto;
}

.navigation {
   margin-left: 20px;
  text-decoration: none;
  color: #2e7d32;
  font-weight: 500;
  transition: color 0.3s ease;
}

.banner {
  background-color: green;
  color: white;
}

.banner .container {
   background: linear-gradient(to right, #a5d6a7, #dcedc8);
  padding: 60px 0;
  text-align: center;
}

.h1 {
  font-size: 48px;
  color: #2e7d32;
}

.slogan {
  font-size: 20px;
  color: #4e944f;
  margin-top: 10px;
}

.main {
  padding: 40px 0;
}

.h2 {
   font-size: 28px;
  margin-top: 40px;
  color: #33691e;
}

.imgs-main {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.paragraph {
  text-align: justify;
  line-height: 35px;
}

.footer {
  margin-top: 30px;
  background-color: green;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90px;
  color: white;
}
