/* Banner - Sessão da intro */
.banner {
  background-color: transparent;
  height: 506px;
}

.banner .container {
  display: flex;
  position: relative;
  height: 100%;
}

.banner .container::after {
  content: "";
  position: absolute;
  opacity: 0.2;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--dark-color);
}

.left {
  margin-top: 84px;
  height: 333px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h1 {
  font-size: 2.75rem;
  color: var(--secondary-color);
  text-align: center;
}

.texto-intro {
  color: var(--dark-color);
  text-align: justify;
}

.img-banner {
  width: 100%;
  max-width: 525px;
}

/* Main - Conteúdo principal da página*/
.main {
  padding-top: 100px;
}

.section {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main-imagem {
  display: block;
  width: 100%;
  max-width: 900px;
  margin: auto;
  border-radius: 8px;
  margin-top: 100px;
}

.h2 {
  font-size: 2.25rem;
  margin-bottom: 36px;
  color: var(--secondary-color);
}

.texto-basico {
  font-size: 1.25rem;
  line-height: 1.8;
  color: var(--dark-color);
}

/* Footer - rodapé */
.footer {
  margin-top: 120px;
  background-color: var(--primary-color);
  color: var(--light-color);
  text-align: center;
  height: 85px;
}

.footer .container {
  place-content: center;
  height: 100%;
}

/* Responsividade - TODO */

/* Consegue se manter até 1280. Menor que isso terá que ser ajustado */
