/* Banner - Sessão da intro */
.banner {
  background-color: transparent;
  height: 506px;
}

.banner .container {
  position: relative;
  gap: 30px;
}

.banner .container::after {
  content: "";
  position: absolute;
  opacity: 0.2;
  bottom: -25px;
  width: 100%;
  height: 2px;
  background-color: var(--dark-color);
}

.left,
.right {
  display: flex;
  flex-direction: column;
}

.left {
  height: 400px;
  justify-content: center;
  gap: 30px;
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 30px;
}

.right {
  text-align: unset;
}

.h1 {
  font-size: 2.75rem;
  color: var(--light-color);
  margin-bottom: 0;
}

.texto-intro {
  color: var(--light-color);
  text-align: justify;
}

.img-banner {
  width: 100%;
  min-width: 100%;
  height: 400px;
  object-fit: cover;
  margin-right: -43px;
}

/* Main - Conteúdo principal da página*/
.fundo-verde {
  width: 117%;
  max-width: 1800px;
  height: 500px;
  background-color: var(--primary-color);
  color: var(--light-color);
  margin-left: -100px;
  margin-top: -10px;
  text-align: justify;
  margin-right: 100px;
}

.texto-basico {
  font-size: 1.25rem;
  line-height: 1.8;
  color: var(--dark-color);
}

.section {
  position: relative;
}

.section--hoje-em-dia {
  padding-top: 20px;
}

.linha-do-tempo {
  width: 100%;
  margin-top: 75px;
}

/* Footer - rodapé */
.footer {
  margin-top: 50px;
}

/* Responsividade - TODO */

/* Consegue se manter até 1280. Menor que isso terá que ser ajustado */
