/* Importando uma fonte do google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Variáveis*/
:root {
  --primary-color: #006241;
  --secondary-color: #32462f;
  --dark-color: #262626;
  --light-color: #ffff;
}
/* Reset Básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Estilos Gerais */
body {
  font-family: "Poppins", sans-serif;
  color: var(--dark-color);
  font-size: 1.25rem;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header - Menu */
.header {
  width: 100%;
  background-color: var(--primary-color);
  height: 85px;
}

.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navigation {
  display: flex;
  gap: 20px;
  font-weight: 500;
  font-size: 1.25rem;
}
.link-menu {
  color: var(--light-color);
  transition: color 0.3s ease;
  position: relative;
}

.selected::after {
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  bottom: -25px;
  right: 0;
}

.link-menu:hover::after {
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  bottom: -25px;
  right: 0;
}

/* Banner - Sessão da intro */
.banner {
  width: 100%;
  background-color: var(--primary-color);
  height: 700px;
}

.banner .container {
  display: flex;
  height: 100%;
}

.left,
.right {
  width: 50%;
  margin-top: 98px;
}

.left {
  height: 333px;
  display: flex;
  flex-direction: column;
}

.right {
  text-align: right;
}

.h1 {
  font-size: 3.1rem;
  margin-bottom: 35px;
  color: var(--light-color);
}

.h1 span {
  font-size: 2.7rem;
}

.texto-intro {
  color: var(--light-color);
  text-align: justify;
  line-height: 1.6;
}

.img-banner {
  width: 100%;
  max-width: 525px;
}

/* Main - Conteúdo principal da página*/
.main {
  padding-top: 60px;
}

.section {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main-imagem {
  text-align: center;
  place-content: center;
  margin: 75px auto;
  border-radius: 8px;
}

.main-imagem img {
  width: 100%;
  max-width: 880px;
  object-fit: cover;
  border-radius: 8px;
}

.h2 {
  font-size: 2.25rem;
  color: var(--secondary-color);
}

.texto-basico {
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--dark-color);
}

/* Footer - rodapé */
.footer {
  margin-top: 120px;
  background-color: var(--primary-color);
  color: var(--light-color);
  text-align: center;
  height: 85px;
}

.footer .container {
  place-content: center;
  height: 100%;
}

.buttonBackToTop {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  bottom: 35px;
  right: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.buttonBackToTop:hover {
  scale: 1.3;
}

.backToTop {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}

/* Responsividade - TODO */

/* Consegue se manter até 1280. Menor que isso terá que ser ajustado */
